<!DOCTYPE html>
<html lang="en-us" ng-app="notesApp">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Form Validation</title>

</head>
<body ng-controller="MainCtrl as ctrl">

<form ng-submit="ctrl.submit1()" name="simpleForm">
  <input type="email"
         name="uname"
         ng-model="ctrl.user1.username"
         required
         ng-minlength="6"/>
  <div ng-messages="simpleForm.uname.$error">
    <div ng-messages-include="error-messages"></div>
  </div>
  <input type="password"
         name="pwd"
         ng-model="ctrl.user1.password"
         required/>
  <div ng-messages="simpleForm.pwd.$error">
    <div ng-messages-include="error-messages"></div>
  </div>
  <input type="submit"
         value="Submit"
         ng-disabled="simpleForm.$invalid"/>
</form>

<form ng-submit="ctrl.submit2()" name="overriddenForm">
  <input type="email"
         name="uname"
         ng-model="ctrl.user2.username"
         required
         ng-minlength="6"/>
  <div ng-messages="overriddenForm.uname.$error">
    <div ng-messages-include="error-messages"></div>
    <div ng-message="required">Please Enter a Username.</div>
  </div>
  <input type="password"
         name="pwd"
         ng-model="ctrl.user2.password"
         required/>
  <div ng-messages="overriddenForm.pwd.$error">
    <div ng-message="required">Please Enter a Password.</div>
  </div>
  <input type="submit"
         value="Submit"
         ng-disabled="overriddenForm.$invalid"/>
</form>

<script src="https://code.angularjs.org/1.7.7/angular.min.js" type="text/javascript"></script>
<script src="https://code.angularjs.org/1.7.7/angular-messages.js" type="text/javascript"></script>

<script type="text/ng-template" id="error-messages">
  <div ng-message="required">This field is mandatory.</div>
  <div ng-message="minlength">Minimum length condition not met.</div>
  <div ng-message="email">Please enter a valid email address.</div>
</script>

<script type="text/javascript">

  angular.module('notesApp', ['ngMessages'])
    .controller('MainCtrl', [function () {
      const self = this;

      self.submit1 = function () {
        console.log('User Clicked Submit with: ', self.user1)
      };

      self.submit2 = function () {
        console.log('User Clicked Submit with: ', self.user2)
      }

    }])

</script>
</body>
</html>
